<div class="card">
  <a href="#">
    <img [src]="cardItem.image" alt="" />
  </a>
  <div class="card-content">
    <a href="#" class="title">
      <b> {{ cardItem.missionName }} #{{ cardItem.flightNumber }}</b>
    </a>
    <div>
      <b> Mission IDs: </b> {{ cardItem.missionId?.length == 0 ? "N/A" : "" }}
      <span *ngFor="let id of cardItem.missionId">{{ id }}<br /></span>
    </div>
    <div><b>Launch Year:</b> <span>{{ cardItem.launchYear }}</span></div>
    <div><b>Successful Launch:</b> <span>{{ cardItem.launchSuccess }}</span></div>
    <div><b>Successful Landing:</b> <span>N/A</span></div>
  </div>
</div>
<!-- .card -->
