@import "./../../../assets/Breakpoints.scss";
@include between-breakpoints(1024px,1440px) {
  .grid-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include between-breakpoints(1441px,4500px) {
  .grid-cards {
    grid-template-columns: repeat(4, 1fr);
    width: 1400px;
    margin: 0 auto;
  }
}
@include between-breakpoints(700px,1023px) {
  .grid-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}



