<header>  
  <span>SpaceX Launch Program</span>   
</header>
<div class="section">
  <div class="container">
    <div class="grid-container">
      <div>
        <div class="sticky">
          <div class="card-wrapper">
            <h3 class="card-wrapper-title">Filters</h3>
            <app-filter ></app-filter>
          </div>
        </div>
      </div>
      <div>
        <h2>PROGRAMs</h2>
        <router-outlet></router-outlet>
      </div>
    
    </div>
  </div>
  <div class="footer">
    <B>Developed By </B>
   : Bhumin Bhandari
  </div>
</div>
