@import "./assets/Breakpoints.scss";

body{
  background-color: #eef0f1;
}
// .main { flex: 3; }

// .slidebar {
//   margin-top:60px;
//   background-color: #f67600;
// }

header {
  font-size:24px; 
  width:100%; 
  height:50px; 
  background:white; 
  position:fixed;
  text-align: center;
  line-height: 50px;
  top: 0;
  left: 0;
    span {
    font-weight: 700;
    text-transform: uppercase;
    color: #f67600;
  }
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  z-index: 999999;
}

.grid-cards {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  -ms-grid-columns: 1fr;
 
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.program-card{
  position: relative;
  padding: 36px;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}
.program-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

@include between-breakpoints(900px,2184px) {
  .sticky {
    overflow: scroll;
height: 100vh;
  }
}
